{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<h1>Issues</h1>
<ul>
{% for issue in object_list %}
    <li><a href="{% url 'issue-detail' issue.pk %}">{{ issue.title }}</a></b></br>
    {{ issue.ai_summary }}</br>
    {{ issue.assigned_to }}

    - <a href="{% url 'update-issue' issue.pk %}">(Edit)</a>
     - <a href="{% url 'delete-issue' issue.pk %}">(Delete)</a>
    </li>
{% endfor %}
</ul>

{% else %}
<h1>Submit an issue to Chalkstone Council</h1>
</br>
Welcome to the Chalkstone Council Issue Tracker. Here, you can submit any issues or concerns that you would like the council to address.</br></br>
Whether it's a pothole on your street, a broken streetlight, or any other community-related issue, we are here to help.</br></br>
Your feedback is valuable to us and helps improve our community. Please provide as much detail as possible when submitting an issue to ensure a timely and effective response from the council.</br></br>
<b>Click the button below to get started</b>
</br></br>
<button class="btn btn-secondary">
    <a href="{% url 'create-issue' %}">Create Issue</a>
</button>
</br></br>
{% endif%}

{% endblock %}